/*
* ------------------------------------------------------------
* Custom stylesheet for the Accounts pages provided by AllAuth
* ------------------------------------------------------------
*/

/*** All Pages ***/
.auth-overlay {
    height: 100%;
}

/** Media Queries for All Pages **/
@media screen and (max-width: 992px) {
    .responsive-bg {
        background-image: url("../../img/login_image.jpg");
        background-size: cover;
    }

    .auth-overlay {
        background-color: rgba(255,255,255,0.9);
    }
}
/*** /.All Pages ***/