{% extends "base.html" %}
{% load static %}

{% block injected_css %}
<link rel="stylesheet" href="{% static 'css/documents.css' %}">
{% endblock %}

{% block main_content %}
<section class="container">
    <div class="row">
        <!-- Document Content Area -->
        <div class="col-12 col-lg-9">
            {% block doc_content %}
            {% endblock doc_content %}
        </div>
        <!-- Sidebar area for searching categories and tags -->
        <div class="col-12 col-lg-3">
            <article class="row card docs-list-sidecard mt-4">
                <div class="col-12 p-3">
                    <h5>Search by Category</h5>
                </div>
                <div class="col-12 p-3">
                    {% for category in categories %}
                        <a href="{% url 'document_search_filter' %}?category={{ category.name }}" class="btn branded-btn mt-2 mx-auto">{{ category.friendly_name }}</a>
                    {% endfor %}
                </div>
            </article>
            <article class="row card docs-list-sidecard mt-4">
                <div class="col-12 p-3">
                    <h5>Search by Tag</h5>
                </div>
                <div class="col-12 p-3">
                    {% for tag in tags %}
                        <a href="{% url 'document_search_filter' %}?tag={{ tag.name }}" class="btn branded-btn mt-2 mx-auto">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </article>
            <article class="row card docs-list-sidecard mt-4">
                <div class="col-12 p-3">
                    Search terms shown here
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock main_content %}