{% extends "base.html" %}
{% load static %}
{% block title %}Creation Selection{% endblock %}

{% block injected_css %}
<link rel="stylesheet" href="{% static 'css/documents.css' %}">
{% endblock %}

{% block main_content %}
<section class="container">
    <!-- Header section -->
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="page-header mx-auto">Document Creation</h1>
            <h3 class="page-subheader mx-auto">What type of file do you need?</h3>
        </div>
    </div>
    <!-- Selection cards -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 card selection-card p-4 my-3 mb-md-5 text-center">
            <a href="{% url 'document_create' %}?doctype=Doc">
                <p class="mb-4 mb-lg-5"><i class="fas fa-file-alt"></i></p>
                <p>Google Doc</p>
            </a>
        </div>
        <div class="col-12 offset-md-2 col-md-5 card selection-card p-4 my-3 mb-md-5 text-center">
            <a href="{% url 'document_create' %}?doctype=Sheet">
                <p class="mb-4 mb-lg-5"><i class="fas fa-file-excel"></i></p>
                <p>Google Sheet</p>
            </a>
        </div>
    </div>
</section>
{% endblock %}