{% extends "documents/document_base.html" %}
{% load static %}
{% block title %}Document Results{% endblock %}

{% block doc_content %}
<div class="row">
    <div class="col-12 mt-4">
        <a href="{% url 'document_overview' %}" class="btn branded-btn"><i class="fas fa-angle-left"></i> Go Back</a>
    </div>
</div>
<!-- Recent Docs header -->
<div class="row">
    <div class="col-12 mt-4 doc-list-header">
        {% if all_files.files %}
        <h3 class="white-text d-inline-block mb-0">Results</h3>
        {% else %}
        <h3 class="white-text d-inline-block mb-0">No results found</h3>
        {% endif %}
    </div>
</div>
<!-- Recent Docs cards -->
<div class="row recent-docs-row">
    {% for file in all_files.files %}
    <div class="col-12 col-md-6 col-lg-4 mt-5">
        <div class="card docs-list-card text-center">
            {% if file.appProperties.category %}
                {% for category in categories %}
                    <div class="ribbon"><span>{% if category.name == file.appProperties.category %}{{ category.friendly_name }}{% endif %}</span></div>
                {% endfor %}
            {% endif %}
            <img src="{{ file.owners.0.photoLink }}" class="doc-list-card-img rounded-circle" alt="Author Display Picture">
            <p class="mt-3">{{ file.owners.0.displayName }}</p>
            <a href="{{ file.webViewLink }}" class="mt-3" target="_blank"><strong>{{ file.name }}</strong></a>
            {% if file_tags %}
            <p class="mt-3">
                {% for entry in file_tags %}
                    {% if entry.id == file.id %}
                        {% for tag in entry.tags %}
                            <span class="badge badge-pill tag-badge">{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}