{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block main_content %}
<section class="container">
    <!-- Header section -->
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="page-header mx-auto">Welcome, {{ user.first_name }}</h1>
            <h3 class="page-subheader mx-auto">What do you require?</h3>
        </div>
    </div>
    <!-- Selection cards -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="#">
                <p class="mb-4 mb-lg-5"><i class="fas fa-file-alt"></i></p>
                <p>Document Lookup</p>
            </a>
        </div>
        <div class="col-12 offset-md-2 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="#">
                <p class="mb-4 mb-lg-5"><i class="fas fa-file-word"></i></p>
                <p>Document Creation</p>
            </a>
        </div>
        <div class="col-12 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="{% url 'profile' %}">
                <p class="mb-4 mb-lg-5"><i class="fas fa-user-alt"></i></p>
                <p>Personal Area</p>
            </a>
        </div>
        <div class="col-12 offset-md-2 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="#">
                <p class="mb-4 mb-lg-5"><i class="fas fa-calendar-alt"></i></p>
                <p>Scheduling</p>
            </a>
        </div>
    </div>
</section>
{% endblock %}