{% extends "accounts/accounts_base.html" %}
{% load bootstrap_tags %}
{% block title %}Password Reset{% endblock %}

{% block auth_content %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible mt-5" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <p class="mt-5">
        Please enter your email address below to reset your password. If the address is recognised, 
        you will receive an email with a link to reset the password.
    </p>
  
    <form class="login mt-3" method="POST">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <a class="button secondaryAction" href="{% url 'login' %}">Back to Login</a>
        <button class="primaryAction btn branded-btn" type="submit">Reset Password</button>
    </form>
{% endblock %}
