/*
* ----------------------------------------------------------------------------
* Custom stylesheet and alterations for the Accounts pages provided by AllAuth
* ----------------------------------------------------------------------------
*/

/*** All Pages ***/

/* Override needed to prevent the default grey background on the <main> tag */
.accounts-base-section {
    background-color: #fff;
}

.auth-overlay {
    height: 100%;
}

/*** /.All Pages ***/

/*** Logout Page ***/
#logout-page {
    width: calc(100% - 70px);
    margin-left: auto;
}
/*** /.Logout Page ***/

/*** Media Queries for every page ***/
@media screen and (max-width: 576px) {
    #logout-page {
        width: 100%;
        margin-left: none;
    }
}

@media screen and (max-width: 992px) {
    .responsive-bg {
        background-image: url("../../img/login_image.jpg");
        background-size: cover;
    }

    .auth-overlay {
        background-color: rgba(255,255,255,0.9);
    }
}