/*
* --------------------------------------
* Stylesheet for the Documents app pages
* --------------------------------------
*/

/*** Document List page ***/
.white-text {
    color: #fff;
    text-shadow: rgb(20,20,20) 2px 2px 4px;
}

.doc-list-header > a {
    vertical-align: bottom;
}

.docs-list-card, .docs-list-sidecard {
    box-shadow: 5px 5px 2px #000;
}

.docs-list-card {
    transition: 0.5s;
    min-height: 150px;
}

.docs-list-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.docs-list-card > a, .docs-list-card:focus {
    color: var(--p-navy);
    font-size: 14px;
}

.docs-list-card > a:hover {
    color: var(--p-orange);
}

.doc-list-card-img {
    height: 60px;
    width: 60px;
    position: absolute;
    left: calc(100% - 45px);
    bottom: calc(100% - 45px);
}

/* Card corner ribbon - code from the CSS Ribbon Generator: https://www.cssportal.com/css-ribbon-generator/ */
.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }

.ribbon span {
    font-size: .4rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: var(--p-orange);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--p-orange);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--p-orange);
}

.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--p-orange);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--p-orange);
}

#all-tags-container {
    display: none;
}

#all-tags-container input[name='tags'] {
    transform: scale(1.4);
}

#doc-create-spinner {
    transform: rotate(360deg);
    animation-name: spinner;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinner {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*** Media Queries ***/
@media screen and (min-width: 1200px) {
    /* Override the Bootstrap class to allow for a slightly wider container on large screens */
    .container {
        max-width: 1350px;
    }
}

@media screen and (min-width: 992px) {
    .recent-docs-row {
        margin-right: 0;
    }
}

@media screen and (max-width: 576px){
    .page-header {
        font-size: 1.6rem;
    }

    .page-subheader {
        font-size: 1.1rem;
    }
}