/* 
-------------------------------------
----- Styling for the Home page -----
-------------------------------------
*/

/* Width is altered via animation in the Homepage JS script */
#home-header, #home-subheader {
    color: #fff;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: rgb(20,20,20) 2px 2px 2px;
}

#home-header {
    font-size: 3rem;
}

#home-subheader {
    font-size: 2rem;
}

.card:hover {
    cursor: pointer;
}

.card > p {
    font-size: 2rem;
}

.card > p > i {
    font-size: 3rem;
}

.card-pulse {
    animation: pulse-animation 1s infinite;
}

/* Pulse animation taken and modified from: https://reactgo.com/css-pulse-animation */
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

/*** Media Queries ***/
@media screen and (max-width: 992px) {
    .card > p {
        font-size: 1.5rem;
        line-height: normal;
        letter-spacing: normal;
    }

    #home-header {
        font-size: 2.5rem;
    }

    #home-subheader {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 576px) {
    .card > p {
        font-size: 1rem;
        line-height: normal;
        letter-spacing: normal;
    }

    #home-header {
        font-size: 2rem;
    }

    #home-subheader {
        font-size: 1.4rem;
    }
}