/* 
-------------------------------------
----- Styling for the Home page -----
-------------------------------------
*/

/* Width is altered via animation in the Homepage JS script */
#home-header, #home-subheader {
    color: #fff;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: rgb(20,20,20) 2px 2px 2px;
}

.card:hover {
    box-shadow: #000 6px 6px 2px;
    cursor: pointer;
}

.card > p {
    font-size: 2rem;
}

.card > p > i {
    font-size: 3rem;
}

/*** Media Queries ***/
@media screen and (max-width: 992px) {
    .card > p {
        font-size: 1.5rem;
        line-height: normal;
        letter-spacing: normal;
    }
}

@media screen and (max-width: 576px) {
    .card > p {
        font-size: 1rem;
        line-height: normal;
        letter-spacing: normal;
    }
}