{% extends "account/base.html" %}
{% load bootstrap_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}Login{% endblock %}

{% block auth_content %}

<div class="p-5">
  <h1 class="display-1">The Hub</h1>
  <h2 class="display-4">A central hub for the Learning Success team</h2>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}

  <form class="login mt-5" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="primaryAction btn branded-btn" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

{% endblock %}
