{% extends "base.html" %}
{% load static %}
{% block title %}Bad request{% endblock %}

{% block main_content %}
<section class="container">
    <!-- Header section -->
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="page-header mx-auto">400</h1>
            <h3 class="page-subheader mx-auto">Bad request</h3>
        </div>
    </div>
    <!-- /.Header section -->
    <div class="row mt-5">
        <div class="col-12 col-md-8 card error-card p-4 mb-3 mb-md-5 text-center mx-auto">
            <strong>
                The server had an issue processing that request. While this could be 
                indicative of a problem with the server, please try refreshing your cookies 
                and cache - this will clear the issue around 80% of the time. If the issue 
                persists, please contact Engineering or Scott.
            </strong>
        </div>
    </div>
</section>
{% endblock %}