{% extends "base.html" %}
{% load static %}
{% block title %}Method not allowed{% endblock %}

{% block main_content %}
<section class="container">
    <!-- Header section -->
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="page-header mx-auto">405</h1>
            <h3 class="page-subheader mx-auto">Method not allowed</h3>
        </div>
    </div>
    <!-- /.Header section -->
    <div class="row mt-5">
        <div class="col-12 col-md-8 card error-card p-4 mb-3 mb-md-5 text-center mx-auto">
            <strong>
                You have tried to perform a request to the server that was unexpected. This 
                is likely an error on the backend, so please contact Engineering or Scott.
            </strong>
        </div>
    </div>
</section>
{% endblock %}