{% extends "base.html" %}
{% load static %}
{% block title %}Server error{% endblock %}

{% block main_content %}
<section class="container">
    <!-- Header section -->
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="page-header mx-auto">503</h1>
            <h3 class="page-subheader mx-auto">Service unavailable</h3>
        </div>
    </div>
    <!-- /.Header section -->
    <div class="row mt-5">
        <div class="col-12 col-md-8 card error-card p-4 mb-3 mb-md-5 text-center mx-auto">
            <strong>
                The server is currently unavailable. This is usually a temporary issue. 
                Please give whatever you were trying another shot. If the error persists, 
                contact Engineering or Scott.
            </strong>
        </div>
    </div>
</section>
{% endblock %}