{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Injected extra meta -->
    {% block meta %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <!-- Vendor libraries -->
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap4/bootstrap.min.css' %}" />
    <!-- Custom assets -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- Injected extra assets -->
    {% block injected_css %}
    {% endblock %}
</head>
<body>
    
    <!-- Scripts -->
    <script src="{% static 'lib/js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/js/bootstrap4/bootstrap.bundle.min.js' %}"></script>
    <!-- Injected extra scripts -->
    {% block injected_js %}
    {% endblock %}
</body>
</html>