{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Injected extra meta -->
    {% block meta %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <!-- Vendor libraries -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/fontawesome5/css/all.min.css' %}" />
    <!-- Custom assets -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- Injected extra assets -->
    {% block injected_css %}
    {% endblock %}
</head>
<body>
    <header>
        <div id="sidenav-overlay" class="d-none"></div>
        <!-- Sidenav -->
        <nav id="sidenav">
            <div id="burger-menu">
                <a href="#"><i aria-hidden="true" class="fas fa-bars"></i></a>
            </div>
            <div class="sidenav-profile d-none">
                <img src="{% static 'img/default_profile_nav.jpg' %}" class="img-fluid rounded-circle my-3 ml-2" width="50" height="50" alt="Profile Image">
                <p>Username</p>
            </div>
            <ul id="sidenav-list">
                <li><a href="#"><i class="fa fa-chart-line"></i><p class="d-none">Student Progress</p></a></li>
            </ul>
        </nav>
        <!-- /.Sidenav -->

        <div id="top-bar" class="navbar">
            <div id="top-bar-brand" class="navbar-brand">The Hub</div>
             <form id="top-bar-search" class="form-inline">
                <input type="text" name="q" placeholder="Search" class="form-control" required />
                <button type="submit" class="btn branded-btn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>

    <main class="container">
        {% block main_content %}
        {% endblock %}
    </main>

    <!-- Scripts -->
    <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/skinnynav.js' %}"></script>
    <!-- Injected extra scripts -->
    {% block injected_js %}
    {% endblock %}
</body>
</html>