{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Injected extra meta -->
    {% block meta %}
    {% endblock %}

    <title>The Hub | {% block title %}{% endblock %}</title>

    <!-- Vendor libraries -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/fontawesome5/css/all.min.css' %}" />
    <!-- Custom assets -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- Injected extra assets -->
    {% block injected_css %}
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <div id="sidenav-overlay" class="d-none"></div>
        <div id="burger-menu">
            <a href="#"><i aria-hidden="true" class="fas fa-bars"></i></a>
        </div>
        <!-- Sidenav -->
        <nav id="sidenav">
            <div class="sidenav-profile mt-5 d-none">
                <img src="{% static 'img/default_profile_nav.jpg' %}" class="img-fluid rounded-circle my-3 ml-2" width="50" height="50" alt="Profile Image">
                <p>{{ user.first_name }}</p>
            </div>
            <ul id="sidenav-list">
                <!-- data-toggle for dropdown is added via JS -->
                <li><a href="#document-menu" class="document-dropdown"><i class="fas fa-file-alt"></i><p class="d-none">Documents Menu</p></a></li>
                <ul class="collapse" id="document-menu">
                    <li><a href="#">Document Lookup</a></li>
                    <li><a href="#">Document Creation</a></li>
                </ul>
                <li><a href="#"><i class="fas fa-user"></i><p class="d-none">Personal Area</p></a></li>
                <li><a href="#"><i class="fas fa-calendar-alt"></i><p class="d-none">Schedule</p></a></li>
                <hr />
                <li><a href="#"><i class="fas fa-user-plus"></i><p class="d-none">New Staff Area</p></a></li>
                {% if user.is_superuser %}
                <li><a href="#"><i class="fas fa-users-cog"></i><p class="d-none">Admin Area</p></a></li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i><p class="d-none">Logout</p></a></li>
            </ul>
        </nav>
        <!-- /.Sidenav -->
        
        <!-- Top bar -->
        <div id="top-bar" class="navbar">
            <div id="top-bar-brand" class="navbar-brand">
                <img src="{% static 'img/ci_logo.png' %}" height="50" width="50" class="img-fluid" alt="Code Institute Logo" />
                The Hub
            </div>
             <form id="top-bar-search" class="form-inline">
                <input type="text" name="q" placeholder="Search" class="form-control" required />
                <button type="submit" class="btn branded-btn"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <!-- /.Top bar -->
    </header>
    {% endif %}

    <!-- Renders a permanent banner across the middle of the screen if JS is disabled -->
    <noscript>
        <p>
            This site relies heavily on JavaScript for things from the navbar to
            inner site operations. As such, the site will be inoperable without
            scripts enabled.
        </p>
        <p>Please enable JavaScript in your browser or switch to a browser that allows scripts.</p>
    </noscript>

    <!-- Main content injected via Jinja -->
    <main>
        {% block main_content %}
        {% endblock %}
    </main>
    <!-- /.Main content -->

    <!-- Scripts -->
    <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidenav.js' %}"></script>
    <!-- Injected extra scripts -->
    {% block injected_js %}
    {% endblock %}
</body>
</html>