{% extends "base.html" %}
{% load static %}
{% block title %}Admin{% endblock %}

{% block main_content %}
<section class="container">
    <!-- Header section -->
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="page-header mx-auto">Admin Area</h1>
        </div>
    </div>
    <!-- Selection cards -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="{% url 'create_user' %}">
                <p class="mb-4 mb-lg-5"><i class="fas fa-user-plus"></i></p>
                <p>Create User</p>
            </a>
        </div>
        <div class="col-12 offset-md-2 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="{% url 'edit_user' %}">
                <p class="mb-4 mb-lg-5"><i class="fas fa-user-edit"></i></p>
                <p>Edit User</p>
            </a>
        </div>
        <div class="col-12 col-md-5 card selection-card p-4 mb-3 mb-md-5 mx-auto text-center">
            <a href="{% url 'delete_user' %}">
                <p class="mb-4 mb-lg-5"><i class="fas fa-user-times"></i></p>
                <p>Remove User</p>
            </a>
        </div>
    </div>
</section>
<div class="top-bar-divider admin-divider"></div>
<section class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="{% url 'create_category' %}">
                <p class="mb-4 mb-lg-5"><i class="fas fa-folder-plus"></i></p>
                <p>Create Category</p>
            </a>
        </div>
        <div class="col-12 offset-md-2 col-md-5 card selection-card p-4 mb-3 mb-md-5 text-center">
            <a href="{% url 'edit_category' %}">
                <p class="mb-4 mb-lg-5"><i class="fas fa-folder"></i></p>
                <p>Edit Category</p>
            </a>
        </div>
        <div class="col-12 col-md-5 card selection-card p-4 mb-3 mb-md-5 mx-auto text-center">
            <a href="{% url 'delete_category' %}">
                <p class="mb-4 mb-lg-5"><i class="fas fa-folder-minus"></i></p>
                <p>Remove Category</p>
            </a>
        </div>
</section>
{% endblock %}