{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% block title %}Delete User{% endblock %}

{% block main_content %}
<section class="container pb-5">
    <!-- Header section -->
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="page-header mx-auto">Delete a User</h1>
        </div>
    </div>
    <!-- Django form errors -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ field.name }}: {{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <!-- ./Django form errors -->
    <form method="POST" action="{% url 'delete_user' %}" class="form mt-5">
        {% csrf_token %}
        <div class="alert alert-warning">
            <strong>
                It is preferable to set the user to inactive on the <a href="{% url 'edit_user' %}">Edit User</a> page. 
                This is to aid in preserving documents the user has contributed to. An inactive user is unable to log in to the system.
                Only delete if absolutely necessary.
            </strong>
        </div>
        <fieldset class="mb-4">
            <legend class="fieldset-label text-black mb-3 w-auto">Personal Details</legend>
            <div class="form-group">
                <label for="users">Select a user:</label>
                <select name="users" id="users">
                    <option value="" selected disabled>Select:</option>
                    {% for user in users %}
                        <option class="user-option" value="{{ user.username }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Username input is hidden - not to be edited, but needed to locate the user on the backend -->
            <input type="hidden" value="" name="username" id="username">
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input id="id_email" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label for="id_first_name">First name:</label>
                <input id="id_first_name" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label for="id_last_name">Last name:</label>
                <input id="id_last_name" class="form-control" disabled>
            </div>
        </fieldset>
        <input type="submit" class="btn branded-btn" value="Delete user" disabled/>
    </form>
</section>
{% endblock %}

{% block injected_js %}
<script src="{% static 'js/administration.js' %}"></script>
{% endblock %}